.app {
    // TODO: Move into TW config.
    font-family: var(--font-base);
  }
  
  .app__flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .copyright {
    p {
      text-transform: uppercase;
      @apply tw-text-black;
    }
  }
  
  .head-text {
    font-size: 2.75rem;
    font-weight: 800;
    text-align: center;
    @apply tw-text-black;
    text-transform: capitalize;
    
    span {
      @apply tw-text-secondary;
    }
    
    @media screen and (min-width: 2000px) {
      font-size: 4rem;
    }
    
    @media screen and (max-width: 450px) {
      font-size: 2rem;
    }
  }
  
  .p-text {
    font-size: 0.8rem;
    text-align: left;
    @apply tw-text-gray;
    line-height: 1.5;
    
    @media screen and (min-width: 2000px) {
      font-size: 1.75rem;
    }
  }
  
  .bold-text {
    font-size: 1rem;
    font-weight: 800;
    @apply tw-text-black;
    text-align: left;
  
    @media screen and (min-width: 2000px) {
      font-size: 2rem;
    }
  
    @media screen and (max-width: 450px) {
      font-size: 0.9rem;
    }
  }
  
  .app__social {
    a {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      @apply tw-bg-white;
      margin: 0.25rem 0;
      border: 1px solid;
      @apply tw-border-light-gray;
  
      display: flex;
      justify-content: center;
      align-items: center;
  
      transition: all 0.3s ease-in-out;
  
      svg {
        width: 15px;
        height: 15px;
        @apply tw-text-gray;
      }
  
      &:hover {
        @apply tw-bg-secondary;
        @apply tw-border-secondary;
  
        svg {
          @apply tw-text-white;
        }
      }
  
      @media screen and (min-width: 2000px) {
        width: 70px;
        height: 70px;
  
        margin: 0.5rem 0;
  
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }